*{
    box-sizing: border-box;
}
body{
    height: 100%;
    margin:0;
    background-color: black;
}
i{
    color:yellow;
}
.image-bg{
    width: 1010px;
    min-height: 510px;
    background-image: url(../img/avatar.png);
    background-color: yellow;
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
    /* background-position: top 200px left 500px; */
    background-position: center center;
    /* background-size: contain; */
    background-size: 500px 500px;
    /* height: 500px; */
}
.image-bg:hover{
    background-color: blue;
}
p{
    width: 100px;
    margin:0 auto;
}
input{
    background-color: black;
    color:white;
    padding: 20px;
    background-image: url(../img/Vector.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center right;
}